<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.governer.mapper.TaskTemplatePOMapper">
  <resultMap id="BaseResultMap" type="com.governer.domain.po.TaskTemplatePO">
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_type_name" jdbcType="VARCHAR" property="taskTypeName" />
    <result column="task_type" jdbcType="VARCHAR" property="taskType" />
    <result column="task_param" jdbcType="VARCHAR" property="taskParam" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="max_parall_num" jdbcType="INTEGER" property="maxParallNum" />
    <result column="dus_list" jdbcType="VARCHAR" property="dusList" />
    <result column="service_list" jdbcType="VARCHAR" property="serviceList" />
    <result column="is_run" jdbcType="INTEGER" property="isRun" />
    <result column="is_repeat" jdbcType="INTEGER" property="isRepeat" />
    <result column="create_stamp" jdbcType="OTHER" property="createStamp" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
    <result column="last_mod_stamp" jdbcType="OTHER" property="lastModStamp" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler" />
    <result column="timeout" jdbcType="BIGINT" property="timeout" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="task_priority" jdbcType="INTEGER" property="taskPriority" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.createStampCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.lastModStampCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.createStampCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.lastModStampCriteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler} and #{criterion.secondValue,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    task_name, task_type_name, task_type, task_param, description, max_parall_num, dus_list, 
    service_list, is_run, is_repeat, create_stamp, last_mod_stamp, timeout, app_name, 
    task_priority
  </sql>
  <select id="selectByExample" parameterType="com.governer.domain.po.TaskTemplatePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ds_task_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.governer.domain.po.TaskTemplatePOExample">
    delete from ds_task_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.governer.domain.po.TaskTemplatePO">
    insert into ds_task_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskName != null">
        task_name,
      </if>
      <if test="taskTypeName != null">
        task_type_name,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="taskParam != null">
        task_param,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="maxParallNum != null">
        max_parall_num,
      </if>
      <if test="dusList != null">
        dus_list,
      </if>
      <if test="serviceList != null">
        service_list,
      </if>
      <if test="isRun != null">
        is_run,
      </if>
      <if test="isRepeat != null">
        is_repeat,
      </if>
      <if test="createStamp != null">
        create_stamp,
      </if>
      <if test="lastModStamp != null">
        last_mod_stamp,
      </if>
      <if test="timeout != null">
        timeout,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="taskPriority != null">
        task_priority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeName != null">
        #{taskTypeName,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskParam != null">
        #{taskParam,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="maxParallNum != null">
        #{maxParallNum,jdbcType=INTEGER},
      </if>
      <if test="dusList != null">
        #{dusList,jdbcType=VARCHAR},
      </if>
      <if test="serviceList != null">
        #{serviceList,jdbcType=VARCHAR},
      </if>
      <if test="isRun != null">
        #{isRun,jdbcType=INTEGER},
      </if>
      <if test="isRepeat != null">
        #{isRepeat,jdbcType=INTEGER},
      </if>
      <if test="createStamp != null">
        #{createStamp,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="lastModStamp != null">
        #{lastModStamp,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="timeout != null">
        #{timeout,jdbcType=BIGINT},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="taskPriority != null">
        #{taskPriority,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.governer.domain.po.TaskTemplatePOExample" resultType="java.lang.Long">
    select count(*) from ds_task_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ds_task_template
    <set>
      <if test="record.taskName != null">
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskTypeName != null">
        task_type_name = #{record.taskTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskType != null">
        task_type = #{record.taskType,jdbcType=VARCHAR},
      </if>
      <if test="record.taskParam != null">
        task_param = #{record.taskParam,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.maxParallNum != null">
        max_parall_num = #{record.maxParallNum,jdbcType=INTEGER},
      </if>
      <if test="record.dusList != null">
        dus_list = #{record.dusList,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceList != null">
        service_list = #{record.serviceList,jdbcType=VARCHAR},
      </if>
      <if test="record.isRun != null">
        is_run = #{record.isRun,jdbcType=INTEGER},
      </if>
      <if test="record.isRepeat != null">
        is_repeat = #{record.isRepeat,jdbcType=INTEGER},
      </if>
      <if test="record.createStamp != null">
        create_stamp = #{record.createStamp,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="record.lastModStamp != null">
        last_mod_stamp = #{record.lastModStamp,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      </if>
      <if test="record.timeout != null">
        timeout = #{record.timeout,jdbcType=BIGINT},
      </if>
      <if test="record.appName != null">
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskPriority != null">
        task_priority = #{record.taskPriority,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ds_task_template
    set task_name = #{record.taskName,jdbcType=VARCHAR},
      task_type_name = #{record.taskTypeName,jdbcType=VARCHAR},
      task_type = #{record.taskType,jdbcType=VARCHAR},
      task_param = #{record.taskParam,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      max_parall_num = #{record.maxParallNum,jdbcType=INTEGER},
      dus_list = #{record.dusList,jdbcType=VARCHAR},
      service_list = #{record.serviceList,jdbcType=VARCHAR},
      is_run = #{record.isRun,jdbcType=INTEGER},
      is_repeat = #{record.isRepeat,jdbcType=INTEGER},
      create_stamp = #{record.createStamp,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      last_mod_stamp = #{record.lastModStamp,jdbcType=OTHER,typeHandler=org.apache.ibatis.type.LocalDateTimeTypeHandler},
      timeout = #{record.timeout,jdbcType=BIGINT},
      app_name = #{record.appName,jdbcType=VARCHAR},
      task_priority = #{record.taskPriority,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.governer.domain.po.TaskTemplatePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ds_task_template
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>